<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="https://html5-templates.com/" />
    <title>Environmental Data Quality API</title>
    <meta name="description" content="Data quality API demonstration">
    <link rel="stylesheet" href="static/css/style.css">
    <script src="https://cdn.plot.ly/plotly-2.4.2.min.js"></script>
</head>

<body>
	<header>
		<div id="logo"><img src="/logo.png">Data Bear Analytics</div>
		<nav>  
			<ul>
				<li><a href="/">API Docs</a>
				<li><a href="/">Github</a>
			</ul>
		</nav>
	</header>
	<section>
		<strong>Environmental Data Quality API Demonstation</strong>
	</section>
	<section id="pageContent">
		<main role="main">
			<article>
				<h2>Assess 2m Air Temperature</h2>
				<p>
                    Details on how it works????<br>
                    Leteros, eu mucius fabellas. Stet facilis ius te, quando voluptatibus 
                    eos in. Ad vix mundi alterum, integre urbanitas intellegam vix in.
                </p>
			</article>
		</main>
	</section>
    <section id="apiUI">
        <div id="apiInputs">
            <h2>API Input Data</h2>
            <form id="datainput">
            <textarea id="inputvals" name="data">2021-03-07 00:50,3.9
2021-03-07 01:00,5.1
2021-03-07 01:10,5.9
2021-03-07 01:20,5.1
2021-03-07 01:30,5.1
2021-03-07 01:40,5.1
2021-03-07 01:50,5.1
2021-03-07 02:00,5.7
2021-03-07 02:10,-16.2
2021-03-07 02:20,6.7
2021-03-07 02:30,-5.8
2021-03-07 02:40,6.7
2021-03-07 02:50,26.5</textarea>
            <input type="submit" value="Check Data">
            </form>
        </div>
        <div>
            <h2>API Response</h2>
            <pre class="apiResponse"><code id="responsetxt"></code></pre>
        </div>
    </section>
    <section>
        <div id="chart"><div>
    </section>
	<footer>
		<p>&copy; DataBear Analytics</p>
        Template:<a href="https://html5-templates.com/" target="_blank" rel="nofollow">HTML5 Templates</a>
        <address>
			Contact: <a href="mailto:me@example.com">Mail me</a>
		</address>
	</footer>
    <script src="static/js/enviroAPI.js"></script>

</body>

</html>