<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="https://html5-templates.com/" />
    <title>Environmental Data Quality API</title>
    <meta name="description" content="Data quality API demonstration">
    <link rel="stylesheet" href="static/css/style.css">
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-2.4.0.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.4.0.min.js"
        crossorigin="anonymous"></script>
</head>

<body>
	<header>
		<div id="logo"><img src="/logo.png">Data Bear Analytics</div>
		<nav>  
			<ul>
				<li><a href="/">API Docs</a>
				<li><a href="/">Github</a>
			</ul>
		</nav>
	</header>
	<section>
		<strong>Environmental Data Quality API Demonstation</strong>
	</section>
	<section id="pageContent">
		<main role="main">
			<article>
				<h2>Assess 2m Air Temperature</h2>
				<p>
                    Details on how it works????<br>
                    Leteros, eu mucius fabellas. Stet facilis ius te, quando voluptatibus 
                    eos in. Ad vix mundi alterum, integre urbanitas intellegam vix in.
                </p>
			</article>
		</main>
	</section>
    <section id="apiUI">
        <div>
            <h2>API Input Data</h2>
            <textarea name="datainput">
            {%- for value in data %}
{{ value[0] }},{{ value[1] }}
            {%- endfor -%}
            </textarea>
            {{ button|safe }}
        </div>
        <div>
            <h2>API Response</h2>
            <textarea id="response" disabled>
                {
                    "datetime":[
                        '2021-09-28'
                    ],
                    "datetime":
                        [
                        '2021-09-28'
                        ]
                }
            </textarea>
        </div id="chart">
            {{ chart|safe }}
        <div>
            
        </div>
    </section>
	<footer>
		<p>&copy; DataBear Analytics</p>
        Template:<a href="https://html5-templates.com/" target="_blank" rel="nofollow">HTML5 Templates</a>
        <address>
			Contact: <a href="mailto:me@example.com">Mail me</a>
		</address>
	</footer>
    {{ bokehscript|safe }}
    <!-- <script src="static/js/enviroAPI.js"></script> -->

</body>

</html>